image: hashicorp/terraform:1.5.7

options:
  max-time: 60

  pipelines: 
    branches: 
      feature/*:
        - step:
            name: "infra & config: DEV"
            script: 
              - apt-get update && apt-get install -y python3 python3-pip git jq curl
              - pip install --no-cache-dir ansible boto3 botocore amazon.aws
              - cd terraform 
              - terraform init -input=false
              - terraform plan -input=false -var="dev"
              - cd
              - ansible-playbook -i /ansible/inventory/aws_ec2.yml ansible/write-static-inventory.yml --extra-vars "env=dev"
              - ansible-playbook -i /ansible/inventory/aws_ec2.yml ansible/deploy.yml --extra-vars "env=dev"